
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: orange;
}

.main_api_div {
   border: 2px solid yellow;
   padding: 12px;
   border-radius: 8px;
}

.UserAdd{
  text-align: center;
}
.UserAdd input {
  padding: 10px;
  font: 600;
  margin: 10px;
  border: 2px solid pink;
}